/*  MAIN  */

main h2 {
    text-align: center;
}

/*  SECTION SISTEMA SOLAR */

.sistemaSolar, img {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sistemaSolar a {
    transition: 0.5s;
}

.sistemaSolar a:hover {
    transform: scale(1.1);
}

/*  Definir tamaño de los planetas  */

.mercurio {
    width: 3vw;
    height: auto;
}

.venus {
    width: 4vw;
    height: auto;
}

.tierra{
    width: 5vw;
    height: auto;
}

.marte {
    width: 7vw;
    height: auto;
}

.jupiter {
    width: 9vw;
    height: auto;
}

.saturno {
    width: 15vw;
    height: auto;
}

.urano {
    width: 15vw;
    height: auto;
}

.neptuno {
    width: 17vw;
    height: auto;
}

/*  SECTION PASEO POR EL UNIVERSO */

.universo{
    padding-top: 10vh;
}

.universo h2 {
    text-align: center;
}

.universo iframe {
    margin: 1em;
    width: 97vw;
    height: 100vh;
}