@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5em 0;
    padding: 0;
    font-size: 2em;
}

header a {
    text-decoration: none;
}

header h1:hover {
    transform: scale(1.3);
}

header h1 {
    transition: 0.5s;
}

/*  NAV  */

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em 1em;
    padding: 0;
    font-size: 1.25em;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin-right: 2em;
    list-style: none;
    transition: 0.5s;
    display: grid;
    place-items: center;
}

nav ul li a {
    text-decoration: none;
}

nav ul li:hover {
    transform: scale(1.5);
}

/*  MAIN    */

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

main h1 {
    text-align: center;
    font-size: 3em;
}

img {
    width: 20vw;
}

/* Pagina SOL */

.datos {
    display: grid;
    grid-template-areas: "etimologia etimologia"
        "art1 datosCuriosos"
        "art2 datosCuriosos";
}

.datos article h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
}

.datos article h3 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.parametrosArticle {
    margin: 1em 2em;
    padding: 2em;
    border: 2px solid white;
    border-radius: 2em;
    width: 30vw;
    background-color: #272727;
    text-align: justify;
}

.etimologia {
    grid-area: etimologia;
    width: 53.5vw;
    text-align: center;
}

.art1 {
    grid-area: art1;
}

.datosCuriosos {
    grid-area: datosCuriosos;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-self: center;
    padding: 7em 2em;
}

.art2 {
    grid-area: art2;
    display: flex;
    flex-direction: row;
    margin: 1em 2em;
}

.div2 {
    margin: 0 1.5em;
}

.div1 {
    text-align: center;
}

@media (min-width: 1140px) and (max-width: 1550px) {

    .etimologia {
        width: 50vw;
    }

    .datos {
        grid-template-areas: "etimologia etimologia"
            "art1 art1"
            "art2 art2"
            "datosCuriosos datosCuriosos";
    }

    .art1 {
        width: 50vw;
    }

    .datosCuriosos {
        width: 50vw;
        padding: 2em;
    }

    .art2 {
        width: 50vw;
    }

    .art2 div {
        width: 15vw;
    }

    .div2 {
        text-align: center;
    }

    .div3 {
        text-align: center;
    }

    .mediaQuerySol {
        margin-left: 4em;
    }
}

@media (min-width: 10px) and (max-width: 1139px) {

    header {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        padding: 0;
        font-size: 1.25em;
    }

    nav ul li{
        margin-left: 2em;
        padding: .3em;
    }

    .h2Index {
        margin-bottom: 1em;
    }

    .sistemaSolar {
        flex-direction: column;
    }

    .sistemaSolar a {
        margin-bottom: 1em;
    }

    .planeta {
        width: 45vw;
    }

    .etimologia {
        width: 75vw;
    }

    .datos {
        grid-template-areas: "etimologia etimologia"
            "art1 art1"
            "art2 art2"
            "datosCuriosos datosCuriosos";
    }

    .art1 {
        width: 75vw;
    }

    .datosCuriosos {
        width: 75vw;
        padding: 2em;
    }

    .art2 {
        width: 75vw;
        display: flex;
        flex-direction: column;
    }

    .art2 div {
        text-align: center;
        margin-bottom: 1em;
    }

    .div2 {
        text-align: center;
    }

    .div3 {
        text-align: center;
    }

    .mediaQuerySol {
        margin-left: 0;
    }
}
